
<div class="container">

  <div class="col" style="text-align: center;"><h1>{{title}}</h1></div>

  <br><br>

  <ul>
    <li *ngFor="let item of items">{{ item.name }}</li>
  </ul>
  
  <form #itemForm="ngForm" class="form-group row">
    <div class="form-group">
      <label for="itemName">Nombre del ítem:</label>
      <input type="text" class="form-control" id="itemName" name="itemName" ngModel>
    </div>
    <button type="button" class="btn btn-primary" (click)="agregarItem(itemForm)">Agregar ítem</button>
  </form>

</div>

 